{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <!-- Page Header -->
    {% load static %}
    <header class="masthead" style="background-image: url('{% static 'img/contact-bg.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Əlaqə</h1>
                        <span class="subheading">Sualların var? Ver cavablayaq!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Əlaqə saxlamaq istəyirsiniz? Aşağıdakı formu dolduraraq mesajınızı göndərin və biz sizə ən qısa
                    zamanda geri dönəcəyik.</p>
                <form name="sentMessage" id="contactForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p class="help-block text-danger">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <br>
                    {% if messages %}
                        {% for msg in messages %}
                            <div id="{{ msg.tags }}">{{ msg }}</div>
                        {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Göndər</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {# {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}#}
    {#    {% render_field form.name %}#}
    {#    {% render_field form.phone %}#}
    {#    {% render_field form.email %}#}
    {#    {% render_field form.message %}#}
    {#{% endwith %}#}
    <hr>

{% endblock %}
