{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <!-- Page Header -->
    {% load static %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/dashboard.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h2>Mənim Lövhəm</h2>
                        <span class="subheading">Matrix</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto">

                <div class="table">
                    <table class="table">
                        <thead class="text-center" style="vertical-align: middle;">
                        <tr class="row">
                            <th class="col-md-2 text-center">Şəkil</th>
                            <th class="col-md-3 text-center">Başlıq</th>
                            <th class="col-md-2 text-center">Saytda görünməyi</th>
                            <th class="col-md-2 text-center">Yayımlandığı tarix</th>
                            <th class="col-md-3 text-center">Əməliyyatlar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div class="clearfix">
                            <a class="btn btn-primary float-left" href="{% url 'post_create' %}">Yeni məqalə yarat</a>
                        </div>
                        <br>
                        {% for post in posts %}
                            <tr class="row">
                                <td class="col-md-2"><img style="width: 150px;" src="{{ post.image.url }}"></td>
                                <td class="col-md-3" style="word-wrap:break-word;">{{ post.title }}</td>
                                {% if post.status %}
                                    <td class="col-md-2 text-success text-center" style="word-wrap:break-word;">
                                        {{ post.status|yesno|capfirst }}
                                    </td>
                                {% else %}
                                    <td class="col-md-2 text-danger text-center" style="word-wrap:break-word;">
                                        {{ post.status|yesno|capfirst }}
                                    </td>
                                {% endif %}
                                <td class="col-md-2">{{ post.publish_date }}</td>
                                <td class="col-md-3"><a class="btn btn-success"
                                                        href="{% url 'post_edit' post_id=post.id %}">Düzəliş
                                    et</a> <a style="color: #FFFFFF;" class="btn btn-danger delete-post" data-title="{{ post.title }}"
                                              data-toggle="modal" data-target="#myModal"
                                              data-href="{% url 'delete' post_id=post.id %}">Sil</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Pager -->
            <nav class="align-right">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        {% if posts.has_previous %}
                            <a class="btn btn-primary float-right" href="?page={{ posts.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        {% endif %}
                    </li>
                    {% for p in page_index %}
                        {% if posts.number == p %}
                            <li class="page-item"><a class="disabled btn btn-primary float-right"
                                                     href="?page={{ p }}">{{ p }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="btn btn-primary float-right"
                                                     href="?page={{ p }}">{{ p }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item">
                        {% if posts.has_next %}
                            <a class="btn btn-primary float-right" href="?page={{ posts.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <hr>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <form method="post" id="post-delete-form" action="#" enctype="multipart/form-data">
                <!-- Modal content-->
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Müasir multifaktorlu autentifikasiya texnologiyaları icmalı</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <p>Bu xəbəri silmək istədiyinizə əminsiniz?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Sil</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Bağla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block ck_script %}
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('.delete-post').click(function (e) {
                $('.modal-title').text($(this).attr('data-title') + " ?");
                $('#post-delete-form').attr('action', $(this).data('href'));
            });
        });
    </script>
{% endblock %}