{% extends 'base.html' %}

{% block content %}
    <!-- Page Header -->
    {% load static %}
    <header class="masthead" style="background-image: url('{{ header.bg_image.url }}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ header.title }}</h1>
                        <span class="subheading">{{ header.sub_title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row"></div>

            <div class="col-lg-8 col-md-10 mx-auto">

                {% for post in posts %}

                    <div class="post-preview">
                        <a href="{{ post.get_absolute_url }}">
                            <h2 class="post-title ">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.sub_title }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="{% url 'author_posts' author_id=post.author.id %}">{{ post.author.user.get_full_name }}</a>
                            on {{ post.publish_date }}</p>
                    </div>
                    <hr>
                {% endfor %}

                {% if posts.has_other_pages %}
                    <nav>
                        <ul class="pagination justify-content-end">
                            <li class="page-item">
                                {% if posts.has_previous %}
                                    <a class="btn btn-primary float-right" href="?page={{ posts.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                {% endif %}
                            </li>
                            {% for p in page_index %}
                                {% if posts.number == p %}
                                    <li class="page-item"><a class="disabled btn btn-primary float-right"
                                                             href="?page={{ p }}">{{ p }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="btn btn-primary float-right"
                                                             href="?page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <li class="page-item">
                                {% if posts.has_next %}
                                    <a class="btn btn-primary float-right" href="?page={{ posts.next_page_number }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                    </div>

                {% endif %}
        </div>
    </div>
    </div>
    <hr>
{% endblock %}
