    {% extends 'base.html' %}

    {% block content %}
    <!-- Page Header -->
        {% load static %}
    <header class="masthead" style="background-image: url('{{ header.bg_image.url }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{ header.title  }}</h1>
              <span class="subheading">{{ header.sub_title }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            {% for post in posts %}

          <div class="post-preview">
            <a href="{% url 'post' post_id=post.id %}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.sub_title }}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ post.author.user.username }}</a>
              on {{ post.publish_date }}</p>
          </div>
                <hr>

            {% endfor %}

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>
        <hr>
    {% endblock %}