{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Header -->
    {% if type == 'create' %}
        <header class="masthead" style="background-image: url('{% static 'img/createpost.jpg' %}')">
    {% else %}
        <header class="masthead" style="background-image: url('{% static 'img/editpost.jpg' %}')">
    {% endif %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
                {% if type == 'create' %}
                    <h2>Yeni məqalə yarat</h2>
                {% elif type == 'edit' %}
                    <h2> Məqaləni dəyiş </h2>
                {% endif %}
                <span class="subheading"></span>
            </div>
        </div>
    </div>
</div>
</header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>{{ field.label }}</label>
                                {% if field.name == 'image' %}
                                    <img class="img-thumbnail" style="width: 200px" src="{{ field.initial.url }}"
                                         alt="">
                                    <input type="file" accept="image/*" name="image" class="form-control">
                                {% elif field.name == 'publish_date' %}
                                    <input name="publish_date" value="{{ field.initial|date:'m/d/Y' }}" required=""
                                           id="id_publish_date"
                                           type="text">
                                {% else %}
                                    <div>
                                        {{ field }}
                                    </div>
                                {% endif %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <p class="help-block text-danger">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <br>
                    <div class="form-group float-right">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Yadda saxla</button>
                        <a style="color: white;" class="btn btn-danger" id="sendMessageButton">Imtina et</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}

{% block ck_script %}

    <script type='text/javascript' src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type='text/javascript' src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.az.min.js"></script>
    <script>
        $("#id_publish_date").datepicker();
    </script>
{% endblock %}