{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <!-- Page Header -->
    {% load static %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/register2.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h2>Qeydiyyat</h2>
                        <span class="subheading"><a href="{% url 'login' %}"
                                                    style="color:white;">Hesabın var?</a></span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="help-block text-danger">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    {% for msg in messages %}
                        <div id="{{ msg.tags }}">{{ msg }}</div>
                    {% endfor %}
                {% endif %}
                <br>

                <form method="post" name="loginFrom" id="loginFrom" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in register_form %}
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>{{ field.label }}</label>
                                {{ field }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                    {% endfor %}
                    <br>
                    <div class="form-group float-right">
                        <button type="submit" class="btn btn-primary" id="sendMessageButton">Qeydiyyatdan keç</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <hr>
{% endblock %}
